*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: center;
    padding-top: 1.5rem;
}
p{
    margin: 1.0rem;
}
/*variables*/
:root{
    --gris: #C4C4C4;

    --h1: 24rem;
    --h2: 15rem;
    --h3: 10rem;
    --parrafo: 5rem;
}

.backgroud-section{
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 5rem;
}
.section-body{
    max-width: 130rem;
    height: auto;
    margin: auto;
}